icat3-acc-tests/xml-resources/web-service-references/ICAT/wsdl/facilities01.esc.rl.ac.uk_8181/ICATService/ICAT.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="admin.client.icat3.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="admin.client.icat3.uk">

<xs:element name="SessionException" type="tns:SessionException"></xs:element>

<xs:complexType name="SessionException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="stackTraceAsString" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="uniqueId" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>