icat3-acc-tests/xml-resources/web-service-references/ICATAdmin/wsdl/volga.dl.ac.uk_8182/ICATAdminService/ICATAdmin.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="admin.client.icat3.uk" xmlns:ns1="client.icat3.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="admin.client.icat3.uk">

<xs:import namespace="client.icat3.uk" schemaLocation="https://volga.dl.ac.uk:8182/ICATAdminService/ICATAdmin?xsd=1"></xs:import>

<xs:element name="SessionException" nillable="true" type="ns1:SessionException"></xs:element>

<xs:element name="loginAdmin" type="tns:loginAdmin"></xs:element>

<xs:element name="loginAdminResponse" type="tns:loginAdminResponse"></xs:element>

<xs:complexType name="loginAdmin">
<xs:sequence>
<xs:element name="runAsUserFedId" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginAdminResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>