icat3-exposed/docs/ICAT.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="client.icat3.uk" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="client.icat3.uk">

<xs:element name="ICATAPIException" type="tns:ICATAPIException"/>

<xs:element name="InsufficientPrivilegesException" type="tns:InsufficientPrivilegesException"/>

<xs:element name="NoSuchObjectFoundException" type="tns:NoSuchObjectFoundException"/>

<xs:element name="SessionException" type="tns:SessionException"/>

<xs:element name="ValidationException" type="tns:ValidationException"/>

<xs:element name="addAuthorisation" type="tns:addAuthorisation"/>

<xs:element name="addAuthorisationResponse" type="tns:addAuthorisationResponse"/>

<xs:element name="addDataFileParameter" type="tns:addDataFileParameter"/>

<xs:element name="addDataFileParameterResponse" type="tns:addDataFileParameterResponse"/>

<xs:element name="addDataFileParameters" type="tns:addDataFileParameters"/>

<xs:element name="addDataFileParametersResponse" type="tns:addDataFileParametersResponse"/>

<xs:element name="addDataSetParameter" type="tns:addDataSetParameter"/>

<xs:element name="addDataSetParameterResponse" type="tns:addDataSetParameterResponse"/>

<xs:element name="addDataSetParameters" type="tns:addDataSetParameters"/>

<xs:element name="addDataSetParametersResponse" type="tns:addDataSetParametersResponse"/>

<xs:element name="addInvestigator" type="tns:addInvestigator"/>

<xs:element name="addInvestigatorResponse" type="tns:addInvestigatorResponse"/>

<xs:element name="addKeyword" type="tns:addKeyword"/>

<xs:element name="addKeywordResponse" type="tns:addKeywordResponse"/>

<xs:element name="addPublication" type="tns:addPublication"/>

<xs:element name="addPublicationResponse" type="tns:addPublicationResponse"/>

<xs:element name="addSample" type="tns:addSample"/>

<xs:element name="addSampleParameter" type="tns:addSampleParameter"/>

<xs:element name="addSampleParameterResponse" type="tns:addSampleParameterResponse"/>

<xs:element name="addSampleResponse" type="tns:addSampleResponse"/>

<xs:element name="checkDatafileDownloadAccess" type="tns:checkDatafileDownloadAccess"/>

<xs:element name="checkDatafileDownloadAccessResponse" type="tns:checkDatafileDownloadAccessResponse"/>

<xs:element name="checkDatasetDownloadAccess" type="tns:checkDatasetDownloadAccess"/>

<xs:element name="checkDatasetDownloadAccessResponse" type="tns:checkDatasetDownloadAccessResponse"/>

<xs:element name="createDataFile" type="tns:createDataFile"/>

<xs:element name="createDataFileResponse" type="tns:createDataFileResponse"/>

<xs:element name="createDataFiles" type="tns:createDataFiles"/>

<xs:element name="createDataFilesResponse" type="tns:createDataFilesResponse"/>

<xs:element name="createDataSet" type="tns:createDataSet"/>

<xs:element name="createDataSetResponse" type="tns:createDataSetResponse"/>

<xs:element name="createDataSets" type="tns:createDataSets"/>

<xs:element name="createDataSetsResponse" type="tns:createDataSetsResponse"/>

<xs:element name="createInvestigation" type="tns:createInvestigation"/>

<xs:element name="createInvestigationResponse" type="tns:createInvestigationResponse"/>

<xs:element name="datafile" type="tns:datafile"/>

<xs:element name="datafileParameter" type="tns:datafileParameter"/>

<xs:element name="dataset" type="tns:dataset"/>

<xs:element name="deleteAuthorisation" type="tns:deleteAuthorisation"/>

<xs:element name="deleteAuthorisationResponse" type="tns:deleteAuthorisationResponse"/>

<xs:element name="deleteDataFile" type="tns:deleteDataFile"/>

<xs:element name="deleteDataFileParameter" type="tns:deleteDataFileParameter"/>

<xs:element name="deleteDataFileParameterResponse" type="tns:deleteDataFileParameterResponse"/>

<xs:element name="deleteDataFileResponse" type="tns:deleteDataFileResponse"/>

<xs:element name="deleteDataSet" type="tns:deleteDataSet"/>

<xs:element name="deleteDataSetParameter" type="tns:deleteDataSetParameter"/>

<xs:element name="deleteDataSetParameterResponse" type="tns:deleteDataSetParameterResponse"/>

<xs:element name="deleteDataSetResponse" type="tns:deleteDataSetResponse"/>

<xs:element name="deleteInvestigation" type="tns:deleteInvestigation"/>

<xs:element name="deleteInvestigationResponse" type="tns:deleteInvestigationResponse"/>

<xs:element name="deleteInvestigator" type="tns:deleteInvestigator"/>

<xs:element name="deleteInvestigatorResponse" type="tns:deleteInvestigatorResponse"/>

<xs:element name="deleteKeyword" type="tns:deleteKeyword"/>

<xs:element name="deleteKeywordResponse" type="tns:deleteKeywordResponse"/>

<xs:element name="deletePublication" type="tns:deletePublication"/>

<xs:element name="deletePublicationResponse" type="tns:deletePublicationResponse"/>

<xs:element name="deleteSample" type="tns:deleteSample"/>

<xs:element name="deleteSampleParameter" type="tns:deleteSampleParameter"/>

<xs:element name="deleteSampleParameterResponse" type="tns:deleteSampleParameterResponse"/>

<xs:element name="deleteSampleResponse" type="tns:deleteSampleResponse"/>

<xs:element name="downloadDatafile" type="tns:downloadDatafile"/>

<xs:element name="downloadDatafileResponse" type="tns:downloadDatafileResponse"/>

<xs:element name="downloadDatafiles" type="tns:downloadDatafiles"/>

<xs:element name="downloadDatafilesResponse" type="tns:downloadDatafilesResponse"/>

<xs:element name="downloadDataset" type="tns:downloadDataset"/>

<xs:element name="downloadDatasetResponse" type="tns:downloadDatasetResponse"/>

<xs:element name="facilityUser" type="tns:facilityUser"/>

<xs:element name="getAllKeywords" type="tns:getAllKeywords"/>

<xs:element name="getAllKeywordsResponse" type="tns:getAllKeywordsResponse"/>

<xs:element name="getAuthorisations" type="tns:getAuthorisations"/>

<xs:element name="getAuthorisationsResponse" type="tns:getAuthorisationsResponse"/>

<xs:element name="getDatafile" type="tns:getDatafile"/>

<xs:element name="getDatafileResponse" type="tns:getDatafileResponse"/>

<xs:element name="getDatafiles" type="tns:getDatafiles"/>

<xs:element name="getDatafilesResponse" type="tns:getDatafilesResponse"/>

<xs:element name="getDataset" type="tns:getDataset"/>

<xs:element name="getDatasetIncludes" type="tns:getDatasetIncludes"/>

<xs:element name="getDatasetIncludesResponse" type="tns:getDatasetIncludesResponse"/>

<xs:element name="getDatasetResponse" type="tns:getDatasetResponse"/>

<xs:element name="getDatasets" type="tns:getDatasets"/>

<xs:element name="getDatasetsResponse" type="tns:getDatasetsResponse"/>

<xs:element name="getInvestigation" type="tns:getInvestigation"/>

<xs:element name="getInvestigationIncludes" type="tns:getInvestigationIncludes"/>

<xs:element name="getInvestigationIncludesResponse" type="tns:getInvestigationIncludesResponse"/>

<xs:element name="getInvestigationResponse" type="tns:getInvestigationResponse"/>

<xs:element name="getInvestigationsIncludes" type="tns:getInvestigationsIncludes"/>

<xs:element name="getInvestigationsIncludesResponse" type="tns:getInvestigationsIncludesResponse"/>

<xs:element name="getKeywordsForUser" type="tns:getKeywordsForUser"/>

<xs:element name="getKeywordsForUserMax" type="tns:getKeywordsForUserMax"/>

<xs:element name="getKeywordsForUserMaxResponse" type="tns:getKeywordsForUserMaxResponse"/>

<xs:element name="getKeywordsForUserResponse" type="tns:getKeywordsForUserResponse"/>

<xs:element name="getKeywordsForUserStartWithMax" type="tns:getKeywordsForUserStartWithMax"/>

<xs:element name="getKeywordsForUserStartWithMaxResponse" type="tns:getKeywordsForUserStartWithMaxResponse"/>

<xs:element name="getKeywordsForUserType" type="tns:getKeywordsForUserType"/>

<xs:element name="getKeywordsForUserTypeResponse" type="tns:getKeywordsForUserTypeResponse"/>

<xs:element name="getMyInvestigations" type="tns:getMyInvestigations"/>

<xs:element name="getMyInvestigationsIncludes" type="tns:getMyInvestigationsIncludes"/>

<xs:element name="getMyInvestigationsIncludesPagination" type="tns:getMyInvestigationsIncludesPagination"/>

<xs:element name="getMyInvestigationsIncludesPaginationResponse" type="tns:getMyInvestigationsIncludesPaginationResponse"/>

<xs:element name="getMyInvestigationsIncludesResponse" type="tns:getMyInvestigationsIncludesResponse"/>

<xs:element name="getMyInvestigationsResponse" type="tns:getMyInvestigationsResponse"/>

<xs:element name="ingestMetadata" type="tns:ingestMetadata"/>

<xs:element name="ingestMetadataResponse" type="tns:ingestMetadataResponse"/>

<xs:element name="investigation" type="tns:investigation"/>

<xs:element name="investigator" type="tns:investigator"/>

<xs:element name="listDatafileFormats" type="tns:listDatafileFormats"/>

<xs:element name="listDatafileFormatsResponse" type="tns:listDatafileFormatsResponse"/>

<xs:element name="listDatasetStatus" type="tns:listDatasetStatus"/>

<xs:element name="listDatasetStatusResponse" type="tns:listDatasetStatusResponse"/>

<xs:element name="listDatasetTypes" type="tns:listDatasetTypes"/>

<xs:element name="listDatasetTypesResponse" type="tns:listDatasetTypesResponse"/>

<xs:element name="listInstruments" type="tns:listInstruments"/>

<xs:element name="listInstrumentsResponse" type="tns:listInstrumentsResponse"/>

<xs:element name="listInvestigationTypes" type="tns:listInvestigationTypes"/>

<xs:element name="listInvestigationTypesResponse" type="tns:listInvestigationTypesResponse"/>

<xs:element name="listParameters" type="tns:listParameters"/>

<xs:element name="listParametersResponse" type="tns:listParametersResponse"/>

<xs:element name="listRoles" type="tns:listRoles"/>

<xs:element name="listRolesResponse" type="tns:listRolesResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginLifetime" type="tns:loginLifetime"/>

<xs:element name="loginLifetimeResponse" type="tns:loginLifetimeResponse"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="logout" type="tns:logout"/>

<xs:element name="logoutResponse" type="tns:logoutResponse"/>

<xs:element name="modifyDataFile" type="tns:modifyDataFile"/>

<xs:element name="modifyDataFileParameter" type="tns:modifyDataFileParameter"/>

<xs:element name="modifyDataFileParameterResponse" type="tns:modifyDataFileParameterResponse"/>

<xs:element name="modifyDataFileResponse" type="tns:modifyDataFileResponse"/>

<xs:element name="modifyDataSet" type="tns:modifyDataSet"/>

<xs:element name="modifyDataSetParameter" type="tns:modifyDataSetParameter"/>

<xs:element name="modifyDataSetParameterResponse" type="tns:modifyDataSetParameterResponse"/>

<xs:element name="modifyDataSetResponse" type="tns:modifyDataSetResponse"/>

<xs:element name="modifyInvestigation" type="tns:modifyInvestigation"/>

<xs:element name="modifyInvestigationResponse" type="tns:modifyInvestigationResponse"/>

<xs:element name="modifyInvestigator" type="tns:modifyInvestigator"/>

<xs:element name="modifyInvestigatorResponse" type="tns:modifyInvestigatorResponse"/>

<xs:element name="modifyPublication" type="tns:modifyPublication"/>

<xs:element name="modifyPublicationResponse" type="tns:modifyPublicationResponse"/>

<xs:element name="modifySample" type="tns:modifySample"/>

<xs:element name="modifySampleParameter" type="tns:modifySampleParameter"/>

<xs:element name="modifySampleParameterResponse" type="tns:modifySampleParameterResponse"/>

<xs:element name="modifySampleResponse" type="tns:modifySampleResponse"/>

<xs:element name="removeAuthorisation" type="tns:removeAuthorisation"/>

<xs:element name="removeAuthorisationResponse" type="tns:removeAuthorisationResponse"/>

<xs:element name="removeDataFile" type="tns:removeDataFile"/>

<xs:element name="removeDataFileParameter" type="tns:removeDataFileParameter"/>

<xs:element name="removeDataFileParameterResponse" type="tns:removeDataFileParameterResponse"/>

<xs:element name="removeDataFileResponse" type="tns:removeDataFileResponse"/>

<xs:element name="removeDataSet" type="tns:removeDataSet"/>

<xs:element name="removeDataSetParameter" type="tns:removeDataSetParameter"/>

<xs:element name="removeDataSetParameterResponse" type="tns:removeDataSetParameterResponse"/>

<xs:element name="removeDataSetResponse" type="tns:removeDataSetResponse"/>

<xs:element name="removeInvestigation" type="tns:removeInvestigation"/>

<xs:element name="removeInvestigationResponse" type="tns:removeInvestigationResponse"/>

<xs:element name="removeInvestigator" type="tns:removeInvestigator"/>

<xs:element name="removeInvestigatorResponse" type="tns:removeInvestigatorResponse"/>

<xs:element name="removeKeyword" type="tns:removeKeyword"/>

<xs:element name="removeKeywordResponse" type="tns:removeKeywordResponse"/>

<xs:element name="removePublication" type="tns:removePublication"/>

<xs:element name="removePublicationResponse" type="tns:removePublicationResponse"/>

<xs:element name="removeSample" type="tns:removeSample"/>

<xs:element name="removeSampleParameter" type="tns:removeSampleParameter"/>

<xs:element name="removeSampleParameterResponse" type="tns:removeSampleParameterResponse"/>

<xs:element name="removeSampleResponse" type="tns:removeSampleResponse"/>

<xs:element name="searchByAdvanced" type="tns:searchByAdvanced"/>

<xs:element name="searchByAdvancedPagination" type="tns:searchByAdvancedPagination"/>

<xs:element name="searchByAdvancedPaginationResponse" type="tns:searchByAdvancedPaginationResponse"/>

<xs:element name="searchByAdvancedResponse" type="tns:searchByAdvancedResponse"/>

<xs:element name="searchByKeywords" type="tns:searchByKeywords"/>

<xs:element name="searchByKeywordsAll" type="tns:searchByKeywordsAll"/>

<xs:element name="searchByKeywordsAllResponse" type="tns:searchByKeywordsAllResponse"/>

<xs:element name="searchByKeywordsResponse" type="tns:searchByKeywordsResponse"/>

<xs:element name="searchByRunNumber" type="tns:searchByRunNumber"/>

<xs:element name="searchByRunNumberPagination" type="tns:searchByRunNumberPagination"/>

<xs:element name="searchByRunNumberPaginationResponse" type="tns:searchByRunNumberPaginationResponse"/>

<xs:element name="searchByRunNumberResponse" type="tns:searchByRunNumberResponse"/>

<xs:element name="searchByUserID" type="tns:searchByUserID"/>

<xs:element name="searchByUserIDPagination" type="tns:searchByUserIDPagination"/>

<xs:element name="searchByUserIDPaginationResponse" type="tns:searchByUserIDPaginationResponse"/>

<xs:element name="searchByUserIDResponse" type="tns:searchByUserIDResponse"/>

<xs:element name="searchByUserSurname" type="tns:searchByUserSurname"/>

<xs:element name="searchByUserSurnamePagination" type="tns:searchByUserSurnamePagination"/>

<xs:element name="searchByUserSurnamePaginationResponse" type="tns:searchByUserSurnamePaginationResponse"/>

<xs:element name="searchByUserSurnameResponse" type="tns:searchByUserSurnameResponse"/>

<xs:element name="searchDatasetsBySample" type="tns:searchDatasetsBySample"/>

<xs:element name="searchDatasetsBySampleResponse" type="tns:searchDatasetsBySampleResponse"/>

<xs:element name="searchSamplesBySampleName" type="tns:searchSamplesBySampleName"/>

<xs:element name="searchSamplesBySampleNameResponse" type="tns:searchSamplesBySampleNameResponse"/>

<xs:element name="setDataSetSample" type="tns:setDataSetSample"/>

<xs:element name="setDataSetSampleResponse" type="tns:setDataSetSampleResponse"/>

<xs:element name="updateAuthorisation" type="tns:updateAuthorisation"/>

<xs:element name="updateAuthorisationResponse" type="tns:updateAuthorisationResponse"/>

<xs:complexType name="deleteDataSet">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataSetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataSetResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SessionException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="stackTraceAsString" type="xs:string" minOccurs="0"/>
<xs:element name="uniqueId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsufficientPrivilegesException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="stackTraceAsString" type="xs:string" minOccurs="0"/>
<xs:element name="uniqueId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoSuchObjectFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="stackTraceAsString" type="xs:string" minOccurs="0"/>
<xs:element name="uniqueId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatasetTypes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatasetTypesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatafiles">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatafilesResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datafile">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="checksum" type="xs:string" minOccurs="0"/>
<xs:element name="command" type="xs:string" minOccurs="0"/>
<xs:element name="datafileCreateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datafileFormat" type="tns:datafileFormat" minOccurs="0"/>
<xs:element name="datafileInclude" type="tns:datafileInclude" minOccurs="0"/>
<xs:element name="datafileModifyTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datafileParameterCollection" type="tns:datafileParameter" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datafileVersion" type="xs:string" minOccurs="0"/>
<xs:element name="datafileVersionComment" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="fileSize" type="xs:int" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="relatedDatafilesCollection1" type="tns:relatedDatafiles" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="relatedDatafilesCollection" type="tns:relatedDatafiles" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="signature" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="entityBaseBean" abstract="true">
<xs:sequence>
<xs:element name="facilityAcquiredData" type="xs:boolean"/>
<xs:element name="icatRole" type="tns:icatRole" minOccurs="0"/>
<xs:element name="selected" type="xs:boolean"/>
<xs:element name="uniqueId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="datafileFormat">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileFormatPK" type="tns:datafileFormatPK" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="formatType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileFormatPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="entityPrimaryKeyBaseBean" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="icatRole">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="actionDelete" type="xs:boolean"/>
<xs:element name="actionDownload" type="xs:boolean"/>
<xs:element name="actionFacilityAcquired" type="xs:boolean"/>
<xs:element name="actionInsert" type="xs:boolean"/>
<xs:element name="actionManageUsers" type="xs:boolean"/>
<xs:element name="actionRemove" type="xs:boolean"/>
<xs:element name="actionRootInsert" type="xs:boolean"/>
<xs:element name="actionRootRemove" type="xs:boolean"/>
<xs:element name="actionSelect" type="xs:boolean"/>
<xs:element name="actionUpdate" type="xs:boolean"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileParameter">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileParameterPK" type="tns:datafileParameterPK" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
<xs:element name="numeric" type="xs:boolean"/>
<xs:element name="numericValue" type="xs:double" minOccurs="0"/>
<xs:element name="rangeBottom" type="xs:string" minOccurs="0"/>
<xs:element name="rangeTop" type="xs:string" minOccurs="0"/>
<xs:element name="stringValue" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datafileParameterPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedDatafiles">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="relatedDatafilesPK" type="tns:relatedDatafilesPK" minOccurs="0"/>
<xs:element name="relation" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="relatedDatafilesPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="destDatafileId" type="xs:long" minOccurs="0"/>
<xs:element name="sourceDatafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="searchSamplesBySampleName">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchSamplesBySampleNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:sample" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sample">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="chemicalFormula" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="instance" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="proposalSampleId" type="xs:int" minOccurs="0"/>
<xs:element name="safetyInformation" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameterCollection" type="tns:sampleParameter" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sampleParameter">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
<xs:element name="numeric" type="xs:boolean"/>
<xs:element name="numericValue" type="xs:double" minOccurs="0"/>
<xs:element name="rangeBottom" type="xs:string" minOccurs="0"/>
<xs:element name="rangeTop" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameterPK" type="tns:sampleParameterPK" minOccurs="0"/>
<xs:element name="stringValue" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="sampleParameterPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="sampleId" type="xs:long" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="deleteInvestigator">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigatorPK" type="tns:investigatorPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="investigatorPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="facilityUserId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="deleteInvestigatorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeSample">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeSampleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listInstruments">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listInstrumentsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addInvestigator">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigator" type="tns:investigator" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="investigator">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="facilityUser" type="tns:facilityUser" minOccurs="0"/>
<xs:element name="investigatorPK" type="tns:investigatorPK" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facilityUser">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="facilityUserId" type="xs:string" minOccurs="0"/>
<xs:element name="federalId" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="initials" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="middleName" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="addInvestigatorResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigator" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="stackTraceAsString" type="xs:string" minOccurs="0"/>
<xs:element name="uniqueId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDataSet">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataSet" type="tns:dataset" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataset">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileCollection" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetParameterCollection" type="tns:datasetParameter" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetStatus" type="xs:string" minOccurs="0"/>
<xs:element name="datasetType" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="sampleId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetParameter">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datasetParameterPK" type="tns:datasetParameterPK" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="error" type="xs:string" minOccurs="0"/>
<xs:element name="numeric" type="xs:boolean"/>
<xs:element name="numericValue" type="xs:double" minOccurs="0"/>
<xs:element name="parameter" type="tns:parameter" minOccurs="0"/>
<xs:element name="rangeBottom" type="xs:string" minOccurs="0"/>
<xs:element name="rangeTop" type="xs:string" minOccurs="0"/>
<xs:element name="stringValue" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="datasetParameterPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="parameter">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="datafileParameter" type="xs:boolean"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="nonNumericValueFormat" type="xs:string" minOccurs="0"/>
<xs:element name="numeric" type="xs:boolean"/>
<xs:element name="numericValue" type="xs:string" minOccurs="0"/>
<xs:element name="parameterPK" type="tns:parameterPK" minOccurs="0"/>
<xs:element name="sampleParameter" type="xs:boolean"/>
<xs:element name="searchable" type="xs:string" minOccurs="0"/>
<xs:element name="unitsLongVersion" type="xs:string" minOccurs="0"/>
<xs:element name="verified" type="xs:boolean"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="parameterPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="units" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="createDataSetResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDataFile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataFile" type="tns:datafile" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDataFileResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifySample">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sample" type="tns:sample" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifySampleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeSampleParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameterPK" type="tns:sampleParameterPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeSampleParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteDataSetParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetParameterPK" type="tns:datasetParameterPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataSetParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setDataSetSample">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleId" type="xs:long" minOccurs="0"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDataSetSampleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="downloadDatafile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafileResponse">
<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUser">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserStartWithMax">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="startKeyword" type="xs:string" minOccurs="0"/>
<xs:element name="numberReturned" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserStartWithMaxResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserMax">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="numberReturned" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserMaxResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserType">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="tns:keywordType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getKeywordsForUserTypeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDataFile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDataFileResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listInvestigationTypes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listInvestigationTypesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyDataSetParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataSetParameter" type="tns:datasetParameter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyDataSetParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeDataSet">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataSetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDataSetResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeAuthorisation">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="authorisationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAuthorisationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addDataFileParameters">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataFileParameters" type="tns:datafileParameter" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDataFileParametersResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafileParameter" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addKeyword">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keyword" type="tns:keyword" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="keyword">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="keywordPK" type="tns:keywordPK" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="keywordPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="addKeywordResponse">
<xs:sequence>
<xs:element name="return" type="tns:keyword" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuthorisations">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="elementId" type="xs:long" minOccurs="0"/>
<xs:element name="elementType" type="tns:elementType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAuthorisationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:icatAuthorisation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="icatAuthorisation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="elementId" type="xs:long" minOccurs="0"/>
<xs:element name="elementType" type="tns:elementType" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="role" type="tns:icatRole" minOccurs="0"/>
<xs:element name="userChildRecord" type="xs:long" minOccurs="0"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="logout">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logoutResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyInvestigation">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigaion" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="investigation">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="bcatInvStr" type="xs:string" minOccurs="0"/>
<xs:element name="datasetCollection" type="tns:dataset" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="facility" type="xs:string" minOccurs="0"/>
<xs:element name="facilityCycle" type="tns:facilityCycle" minOccurs="0"/>
<xs:element name="grantId" type="xs:long" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="instrument" type="xs:string" minOccurs="0"/>
<xs:element name="invAbstract" type="xs:string" minOccurs="0"/>
<xs:element name="invEndDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="invNumber" type="xs:string" minOccurs="0"/>
<xs:element name="invParamName" type="xs:string" minOccurs="0"/>
<xs:element name="invParamValue" type="xs:string" minOccurs="0"/>
<xs:element name="invStartDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="invType" type="xs:string" minOccurs="0"/>
<xs:element name="investigatorCollection" type="tns:investigator" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="keywordCollection" type="tns:keyword" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="prevInvNumber" type="xs:string" minOccurs="0"/>
<xs:element name="publicationCollection" type="tns:publication" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="releaseDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sampleCollection" type="tns:sample" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="shiftCollection" type="tns:shift" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="visitId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="facilityCycle">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="finishDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="publication">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="fullReference" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="repository" type="xs:string" minOccurs="0"/>
<xs:element name="repositoryId" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="shift">
<xs:complexContent>
<xs:extension base="tns:entityBaseBean">
<xs:sequence>
<xs:element name="shiftComment" type="xs:string" minOccurs="0"/>
<xs:element name="shiftPK" type="tns:shiftPK" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="shiftPK">
<xs:complexContent>
<xs:extension base="tns:entityPrimaryKeyBaseBean">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="modifyInvestigationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listDatasetStatus">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatasetStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDataset">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatasetResponse">
<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSample">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSampleResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeInvestigator">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigatorPK" type="tns:investigatorPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeInvestigatorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeInvestigation">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeInvestigationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteKeyword">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keywordPK" type="tns:keywordPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteKeywordResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeKeyword">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keywordPK" type="tns:keywordPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeKeywordResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addDataSetParameters">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataSetParameters" type="tns:datasetParameter" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDataSetParametersResponse">
<xs:sequence>
<xs:element name="return" type="tns:datasetParameter" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByRunNumberPagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="instruments" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startRun" type="xs:float"/>
<xs:element name="endRun" type="xs:float"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="number_results" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByRunNumberPaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByRunNumber">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="instruments" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startRun" type="xs:float"/>
<xs:element name="endRun" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByRunNumberResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteInvestigation">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteInvestigationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="createDataSets">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataSets" type="tns:dataset" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDataSetsResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePublication">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="publicationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePublicationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllKeywords">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="tns:keywordType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAdvancedPagination">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="tns:advancedSearchDetails" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="numberOfResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="advancedSearchDetails">
<xs:sequence>
<xs:element name="backCatalogueInvestigatorString" type="xs:string" minOccurs="0"/>
<xs:element name="caseSensitive" type="xs:boolean"/>
<xs:element name="datafileName" type="xs:string" minOccurs="0"/>
<xs:element name="dateRangeEnd" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateRangeStart" type="xs:dateTime" minOccurs="0"/>
<xs:element name="experimentNumber" type="xs:string" minOccurs="0"/>
<xs:element name="grantId" type="xs:long" minOccurs="0"/>
<xs:element name="instruments" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="investigationAbstract" type="xs:string" minOccurs="0"/>
<xs:element name="investigationInclude" type="tns:investigationInclude" minOccurs="0"/>
<xs:element name="investigationName" type="xs:string" minOccurs="0"/>
<xs:element name="investigationType" type="xs:string" minOccurs="0"/>
<xs:element name="investigators" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="keywords" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="runEnd" type="xs:double" minOccurs="0"/>
<xs:element name="runStart" type="xs:double" minOccurs="0"/>
<xs:element name="sampleName" type="xs:string" minOccurs="0"/>
<xs:element name="visitId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAdvancedPaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAdvanced">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="tns:advancedSearchDetails" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByAdvancedResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafiles">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadDatafilesResponse">
<xs:sequence>
<xs:element name="URL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatafileFormats">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listDatafileFormatsResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafileFormat" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyDataSet">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataSet" type="tns:dataset" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyDataSetResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="modifySampleParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameter" type="tns:sampleParameter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifySampleParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="modifyInvestigator">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigator" type="tns:investigator" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyInvestigatorResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addSampleParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameter" type="tns:sampleParameter" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSampleParameterResponse">
<xs:sequence>
<xs:element name="return" type="tns:sampleParameter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDataSetParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataSetParameter" type="tns:datasetParameter" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDataSetParameterResponse">
<xs:sequence>
<xs:element name="return" type="tns:datasetParameter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDataFiles">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataFiles" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDataFilesResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAuthorisation">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="toAddFedId" type="xs:string" minOccurs="0"/>
<xs:element name="toAddRole" type="xs:string" minOccurs="0"/>
<xs:element name="elementId" type="xs:long" minOccurs="0"/>
<xs:element name="elementType" type="tns:elementType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addAuthorisationResponse">
<xs:sequence>
<xs:element name="return" type="tns:icatAuthorisation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatafileDownloadAccess">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatafileDownloadAccessResponse">
<xs:sequence>
<xs:element name="downloadInfo" type="tns:downloadInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadInfo">
<xs:sequence>
<xs:element name="credential" type="xs:string" minOccurs="0"/>
<xs:element name="datafileLocations" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="datafileNames" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="userId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSample">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sample" type="tns:sample" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addSampleResponse">
<xs:sequence>
<xs:element name="return" type="tns:sample" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePublication">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="publicationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePublicationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginLifetime">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="lifetime" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginLifetimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataFile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataFileResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchByUserSurnamePagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="number_results" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserSurnamePaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserSurname">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="surname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserSurnameResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAuthorisation">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="authorisationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAuthorisationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkDatasetDownloadAccess">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDatasetDownloadAccessResponse">
<xs:sequence>
<xs:element name="downloadInfo" type="tns:downloadInfo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataset">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasetResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasetIncludes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetId" type="xs:long" minOccurs="0"/>
<xs:element name="includes" type="tns:datasetInclude" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasetIncludesResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAuthorisation">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="toChangetoRole" type="xs:string" minOccurs="0"/>
<xs:element name="authorisationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAuthorisationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listRoles">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listRolesResponse">
<xs:sequence>
<xs:element name="return" type="tns:icatRole" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywordsAll">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keywordDetails" type="tns:keywordDetails" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="numberOfResults" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="keywordDetails">
<xs:sequence>
<xs:element name="caseSensitve" type="xs:boolean"/>
<xs:element name="investigationIncludes" type="tns:investigationInclude" minOccurs="0"/>
<xs:element name="keywords" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="operator" type="tns:logicalOperator" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywordsAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywords">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="keywords" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByKeywordsResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingestMetadata">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="xml" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ingestMetadataResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ICATAPIException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="stackTraceAsString" type="xs:string" minOccurs="0"/>
<xs:element name="uniqueId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsIncludesPagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="include" type="tns:investigationInclude" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="number_results" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsIncludesPaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsIncludes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="include" type="tns:investigationInclude" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsIncludesResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigations">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyInvestigationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatafile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatafileResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyDataFile">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataFile" type="tns:datafile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyDataFileResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getInvestigation">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationIncludes">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
<xs:element name="includes" type="tns:investigationInclude" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationIncludesResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataFileParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileParameterPK" type="tns:datafileParameterPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDataFileParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removeDataSetParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetParameterPK" type="tns:datasetParameterPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDataSetParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchDatasetsBySample">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sample" type="tns:sample" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchDatasetsBySampleResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createInvestigation">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="investigation" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createInvestigationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPublication">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="publication" type="tns:publication" minOccurs="0"/>
<xs:element name="investigationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPublicationResponse">
<xs:sequence>
<xs:element name="return" type="tns:publication" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyPublication">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="publication" type="tns:publication" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyPublicationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchByUserIDPagination">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="userSearch" type="xs:string" minOccurs="0"/>
<xs:element name="startIndex" type="xs:int"/>
<xs:element name="number_results" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserIDPaginationResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserID">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="userSearch" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchByUserIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDataFileParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataFileParameter" type="tns:datafileParameter" minOccurs="0"/>
<xs:element name="datafileId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDataFileParameterResponse">
<xs:sequence>
<xs:element name="return" type="tns:datafileParameter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDataFileParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datafileParameterPK" type="tns:datafileParameterPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeDataFileParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="deleteSampleParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="sampleParameterPK" type="tns:sampleParameterPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSampleParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listParameters">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listParametersResponse">
<xs:sequence>
<xs:element name="return" type="tns:parameter" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyDataFileParameter">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="dataFileParameter" type="tns:datafileParameter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modifyDataFileParameterResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDatasets">
<xs:sequence>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
<xs:element name="datasetIds" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDatasetsResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataset" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationsIncludes">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arg2" type="tns:investigationInclude" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getInvestigationsIncludesResponse">
<xs:sequence>
<xs:element name="return" type="tns:investigation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="datafileInclude">
<xs:restriction base="xs:string">
<xs:enumeration value="DATAFILE_PARAMETERS"/>
<xs:enumeration value="RELATED_DATAFILES"/>
<xs:enumeration value="ALL"/>
<xs:enumeration value="NONE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="keywordType">
<xs:restriction base="xs:string">
<xs:enumeration value="ALL"/>
<xs:enumeration value="ALPHA_NUMERIC"/>
<xs:enumeration value="ALPHA"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="elementType">
<xs:restriction base="xs:string">
<xs:enumeration value="STUDY"/>
<xs:enumeration value="INVESTIGATION"/>
<xs:enumeration value="INVESTIGATOR"/>
<xs:enumeration value="KEYWORD"/>
<xs:enumeration value="SAMPLE"/>
<xs:enumeration value="SAMPLE_PARAMETER"/>
<xs:enumeration value="PUBLICATION"/>
<xs:enumeration value="DATASET"/>
<xs:enumeration value="DATASET_PARAMETER"/>
<xs:enumeration value="DATAFILE"/>
<xs:enumeration value="DATAFILE_PARAMETER"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="investigationInclude">
<xs:restriction base="xs:string">
<xs:enumeration value="INVESTIGATORS_ONLY"/>
<xs:enumeration value="KEYWORDS_ONLY"/>
<xs:enumeration value="PUBLICATIONS_ONLY"/>
<xs:enumeration value="INVESTIGATORS_AND_KEYWORDS"/>
<xs:enumeration value="INVESTIGATORS_AND_SHIFTS"/>
<xs:enumeration value="INVESTIGATORS_SHIFTS_AND_SAMPLES"/>
<xs:enumeration value="INVESTIGATORS_SHIFTS_SAMPLES_AND_PUBLICATIONS"/>
<xs:enumeration value="DATASETS_ONLY"/>
<xs:enumeration value="DATASETS_AND_DATASET_PARAMETERS_ONLY"/>
<xs:enumeration value="DATASETS_AND_DATAFILES"/>
<xs:enumeration value="DATASETS_DATAFILES_AND_PARAMETERS"/>
<xs:enumeration value="SAMPLES_ONLY"/>
<xs:enumeration value="ROLE_ONLY"/>
<xs:enumeration value="SHIFT_ONLY"/>
<xs:enumeration value="ALL"/>
<xs:enumeration value="NONE"/>
<xs:enumeration value="ALL_EXCEPT_DATASETS_AND_DATAFILES"/>
<xs:enumeration value="ALL_EXCEPT_DATASETS_DATAFILES_AND_ROLES"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="datasetInclude">
<xs:restriction base="xs:string">
<xs:enumeration value="DATASET_AND_DATAFILES_ONLY"/>
<xs:enumeration value="DATASET_PARAMETERS_ONLY"/>
<xs:enumeration value="DATASET_DATAFILES_AND_PARAMETERS"/>
<xs:enumeration value="NONE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="logicalOperator">
<xs:restriction base="xs:string">
<xs:enumeration value="AND"/>
<xs:enumeration value="OR"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>